env-setup/
gpu-app-collection/
hw_run/
sim_run_*
*.DS_Store*
*.csv
*.csv#
4.2/
gpucomputingsdk_4.2.9_linux.run
util/job_launching/*.txt

# large files
GhOST_SASS_traces*
gpu-accel-sim-docker.img
gpu-simulator-LOOG
get_results

# result files
*.out
*.err
*.bak
results
build-opt
